@{
    ViewBag.Title = "Администратор";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>@ViewBag.Title</h2>*@
<h3>@ViewBag.Message</h3>

<p>
    @Html.ActionLink("Управление услугами", "Service", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Управление акциями", "Discount", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Заявки на консультирование", "Call", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Управление записями", "Visit", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Клиенты", "Client", "Admin")
</p>
<p>
        ________________
</p>
<p>
    @Html.ActionLink("Материалы", "Material", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Приход материалов", "BoxComing", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Состав прихода (сделать на одной странице с приходом, как главная и подчиненная таблица)", "InBox", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Расход материалов", "Rashod", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Поставщики", "Provider", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Время работы", "Time", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Разряды", "Razr", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Должности", "Dol", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Табель отработанного времени", "Tabel", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Тарифы", "Tarif", "Admin")
</p>
<p>
    _________________
</p>
<p>
    @Html.ActionLink("Группы материалов", "Group", "Admin")
</p>
<p>
    _________________
</p>