@model BeautySalon.Models.Материал

@{
    ViewBag.Title = "Редактирование материала";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование материала</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.КодМатериал)

        <div class="form-group">
            <div class="control-label col-md-2">Наименование</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.НаименованиеМатериал, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.НаименованиеМатериал, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Группа</div>
            <div class="col-md-10">
                @Html.DropDownList("КодГруппа", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.КодГруппа, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Material")
</div>
